 .dialog {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-top: .1rem solid rgb(216, 220, 221);
    width: 100%;
    font-size: 1.8rem;
    transition: all .2s ease;
}

.dialog:hover {
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}


.dialog .active {
    color: rgb(40, 209, 221);
}

.dialog img {
    flex-grow: 2;
    width: 3rem;
    width: 7rem;
    height: 7rem;
    margin-left: 1.5rem;
    vertical-align: top;
}

.dialog_name {
    flex-grow: 8;
    margin-left: 1.5rem;
    margin-top: .8rem;
    display: inline-block;

} 

.dialog a {
    text-decoration: none;
    color: rgb(31, 31, 66);
} 


