.avatar {
    display: inline-block;
    width: 22rem;
    height: 22rem;
    border: .4rem solid white;
    border-radius: 1000px;
    background-image: url('https://cdn0.iconfinder.com/data/icons/sexy-portrait-girl-avatar-cute-beautiful-young-gir/283/female-138-512.png');
    background-size: contain;
    margin-left: 2rem;
}

