.container button {
    border: 0.1rem gray solid;
    background-color: white;
    margin-left: .6rem;
    cursor: pointer;
}

.user_item {
    background-color: rgb(231, 241, 245);
    padding: 2rem;
    margin-top: 3rem;
}

.user_item img {
    width: 8rem;
    height: 8rem;
}

.status {
    color: lightcoral;
}


/* Pages */
.pages_container div {
    display: inline-block;
    padding: .5rem;
    margin: .5rem;
    transition: all .2s ease;
}

.pages_container div:hover {
    font-weight: 600;
    cursor: pointer;
}

.active_page{
    text-decoration: underline;
    font-weight: 600;
}

