.container button {
    border: 0.1rem gray solid;
    border-radius: .8rem;
    background-color: white;
}

.user_item {
    background-color: rgb(231, 241, 245);
    padding: 2rem;
    margin-top: 3rem;
}

.user_item img {
    width: 8rem;
    height: 8rem;
}

.status {
    color: lightcoral;
}