.dialog_wrapper {
    display: flex;
    margin-left: 5rem;
    margin-top: 2rem;
}

.dialogs {
    flex-grow: 3;
    border-right: 1px solid rgb(201, 206, 211);
}

.messages {
    flex-grow: 10;
}


.message_item {
    padding: 1.5rem;
}

