.item {
  color: #333;
  padding: 1.5rem;
  border-top: 1px solid rgb(221, 226, 228);
}

.item:first-child {
  margin-top: 1.5rem;
}

.item img {
  border: 2px solid rgb(67, 201, 235);
  border-radius: 100px;
  width: 5rem;
  height: 5rem;
}

.title {
  font-weight: 500;
  font-size: 1.8rem;
}

.body {
  margin: 1.5rem auto;
  padding: 1rem;
  background-color: rgb(240, 251, 255);
}

