.login_container {
    padding: 10rem 50rem;
}

/* .login_container input {
    outline: 0;
} */

.commonError {
    border: .1rem solid red;
    color: red;
    padding: 2rem;
    margin-top: 2rem;
}

.captchaImg {
    position: relative;
}


.refreshIcon img {
    display: inline-block;
    position: absolute;
    top: 6vh;
    right: 2vw;
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
    z-index: 100;
    opacity: 0.2;
    transition: all .2s ease-out;
}

.refreshIcon img:hover {
    opacity: 1;
}
