html {
  font-size: 62.5%;;
}


.app-wrapper {
  font-size: 1.6rem;
  margin: 1rem;
  display: grid;
  grid-template-areas: 
  "h h h"
  "n c c";
  grid-template-rows: 7rem 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: .5rem;
}

.app-wrapper-content {
  grid-area: c;
}

.app-wrapper-content img {
  width: 100%;
  height: 300px;
}



